# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ILYA_BUNEEV.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\ILYA_BUNEEV\.idea\.idea.ILYA_BUNEEV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
